.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background: rgb(68, 50, 151);
}

.navbar_frame .container {
  position: relative;
  padding: 20px 0 14px;
  width: 1320px;
  height: auto;

  /* background-color: red; */
}

.navbar_frame .container .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_top .nav_search_frame {
  width: 651px;
  height: 50px;
  border-radius: 6px;

  display: flex;
  flex-direction: row;

  background: rgba(255, 255, 255, 1);
}

.nav_search_frame .search_box {
  padding: 10px 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_box .category_list {
  width: 166px;
  height: 30px;

  border-right: 1px solid rgba(214, 214, 214);
}

.category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  color: rgba(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}

.search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  color: rgba(98, 105, 116);
  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0px 6px 6px 0px;
  background-color: rgba(245, 195, 75);
}

.navbar_top .nav_top_menu {
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
}

.top_menu_box .box_icon_box {
  position: relative;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.top_menu_box .box_info_box {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.box_info_box span {
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.box_info_box strong {
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.box_icon_box img {
  width: 24px;
  height: 22px;
}

.box_icon_box .basket_count {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: rgba(245, 195, 75);

  color: rgba(11, 30, 64, 1);

  font-family: Jost;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .container .navbar_bott {
  margin-top: 20px;
  border-top: 1px solid #5747a2;
}
.navbar_bott .navbar_bott_menu_box {
  margin-top: 10px;
  height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_bott .browse_box {
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #5747a2;
}

.browse_box img {
  width: 20px;
  height: 18px;
}

.browse_box span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_bott_menu_box .navbar_route_menu {
  width: 670px;
  display: flex;
  flex-direction: row;
}

.navbar_route_menu a {
  margin-right: 10px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.navbar_route_menu a.title {
  color: #f5c34b;
}

.sorting_menu span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
}
